---
layout: default
panel_includes:
  - resume-skills-panel
  - resume-languages-panel
---

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script> -->




<div id="resume">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const downloadButtonContainer = document.getElementById('download-button-container');
      const downloadButton = document.getElementById('download-pdf-button');
      const resumeContent = document.getElementById('resume');
  
      let initialTopOffset = 290;
      let stuckTopThreshold = 10;
      let isStuckToTop = false;
      let lastScrollY = 0;
  
      window.addEventListener('scroll', () => {
        let scrollY = window.scrollY;
        let scrollDirection = scrollY > lastScrollY ? 'down' : 'up';
        lastScrollY = scrollY;
  
        let newTopPosition = initialTopOffset - scrollY;
  
        if (newTopPosition <= stuckTopThreshold) {
          //  Sticking to top
          newTopPosition = stuckTopThreshold;
          if (!isStuckToTop) {
              downloadButtonContainer.classList.add('stuck-top');
              isStuckToTop = true;
          }
        } else if (scrollY <= initialTopOffset - stuckTopThreshold){
            isStuckToTop = false;
            downloadButtonContainer.classList.remove('stuck-top');
            downloadButtonContainer.style.top = `${newTopPosition}px`;
        }
        else {
          // Below the sticking point, but not yet at initial position
            downloadButtonContainer.classList.remove('stuck-top');
            isStuckToTop = false;
            downloadButtonContainer.style.top = `${initialTopOffset}px`;
        }
  
        downloadButtonContainer.style.top = `${newTopPosition}px`;
      });
  
      downloadButton.addEventListener('click', function() {
        location.href='../assets/files/resume-latest.pdf';
        // const opt = {
        //   margin:       5,
        //   filename:     'resume.pdf',
        //   image:        { type: 'jpeg', quality: 1 },
        //   html2canvas:  { scale: 1 },
        //   jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
        // };
        // html2pdf().from(resumeContent).set(opt).save();
      });
    });
  </script>

  <div id="download-button-container" class="download-button-container">
    <button id='download-pdf-button'>
      <i class="fas fa-download"></i> Download PDF
    </button>
  </div>

  <div class="resume-main-content">
    <section>
      <div class="resume-profile"> <!-- Renamed from .profile -->
        <img src="/assets/img/profile.png" alt="Profile Picture">
        <h1>{{ page.username }}</h1>
        <h2>{{ page.designation }}</h2>
      </div>
      <div class="resume-personal-info"> <!-- Renamed from .personal-info -->
        <h2><i class="fas fa-user"></i> Personal Info</h2>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Address: {{ page.address }}</li>
          <li><i class="fas fa-phone"></i> Phone: {{ page.phone }}</li>
          <li><i class="fas fa-envelope"></i> E-mail: <a href="mailto:{{ page.email }}"> {{page.email}}</a></li>
          <li><i class="fab fa-hashtag"></i> Social: |
            {% if page.other_social %}
            {% for social in page.other_social %}
            <i class="{{ social.icon }}"></i> <a href="{{ social.url }}" target="_blank">{{ social.urlText }}</a> |
            {% endfor %}
            {% endif %}
          </li>
        </ul>
      </div>
    </section>
    <section class="resume-summary-section">
      <h2><i class="fas fa-file-alt"></i> Resume Summary</h2>
      <p>{{ page.summary }}</p>
    </section>

    <section class="resume-education-section">
      <h2><i class="fas fa-graduation-cap"></i> Education</h2>
      <div class="timeline-timeline">
        {% for edu in page.education %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% assign start_year = edu.dates %}
        <div class="timeline-container {% if mod == 0 %}timeline-right{% else %}timeline-left{% endif %}" data-year="{{ start_year }}">
              <div class="timeline-content">
                <h3>{{ edu.institution }} </h3>
                <!-- <span class="education-dates">({{ edu.dates }})</span> -->
                <p class="degree">{{ edu.degree }}</p>
              </div>
        </div>
        {% endfor %}
      </div>
    </section>


    <section class="resume-career-break-section">
      <h2><i class="fas fa-hourglass-half"></i> Career Break - Self Development</h2>
      {% for career_break in page.career_break %}
      <div class="resume-career-break-item">
        <h3>{{ career_break.title }}</h3>
        <p class="dates">{{ career_break.dates }}</p>
        <ul>
          {% for duty in career_break.duties %}
          <li>{{ duty }}</li>
          {% endfor %}
        </ul>
        {% if career_break.tools %}
        <p class="resume-tools-used"><b>Tools Utilized:</b> {{ career_break.tools }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </section>

    <section class="resume-work-experience-section">
      <h2><i class="fas fa-briefcase"></i> Work Experience</h2>
      {% for exp in page.experience %}
      <div class="resume-experience-item">
        <div class="experience-header"> <!-- New div for title and company -->
          <h3>{{ exp.title }}</h3>
          <p class="company">{{ exp.company }}</p>
        </div>
        <p class="dates">{{ exp.dates }}</p>
        <ul>
          {% for duty in exp.duties %}
          <li>{{ duty }}</li>
          {% endfor %}
        </ul>
        {% if exp.hardware %}
        <p class="resume-hardware-used"><b>Hardware:</b> {{ exp.hardware }}</p>
        {% endif %}
        {% if exp.technology %}
        <p class="resume-technology-used"><b>Technology:</b> {{ exp.technology }}</p>
        {% endif %}
        {% if exp.libraries %}
        <p class="resume-libraries-used"><b>Libraries:</b> {{ exp.libraries }}</p>
        {% endif %}
        {% unless forloop.last %}
        <hr class="line-break"> {% endunless %}
      </div>
      {% endfor %}
    </section>

    <section class="resume-patents-section">
      <h2><i class="fas fa-clipboard"></i> Patents</h2>
      {% for patent in page.patents %}
      <div class="resume-patent-item">
        <h3>{{ patent.title }}</h3>
        {% if patent.description %} <p>{{ patent.description }}</p> {% endif %}
        {% if patent.uspto %} <p>USPTO: {{ patent.uspto }}</p> {% endif %}
        {% if patent.ipo %} <p>IPO: {{ patent.ipo }}</p> {% endif %}
      </div>
      {% endfor %}
    </section>

    <section class="resume-awards-section">
      <h2><i class="fas fa-trophy"></i> Awards</h2>
      {% for award in page.awards %}
      <div class="resume-award-item">
        <h3>{{ award.title }}</h3>
        <p>{{ award.description }}</p>
      </div>
      {% endfor %}
    </section>

    <section class="resume-certifications-section">
      <h2><i class="fas fa-certificate"></i> Certifications</h2>
      <ul class="resume-certifications-list">
        {% for cert in page.certifications %}
        <li>{{ cert }}</li>
        {% endfor %}
      </ul>
    </section>

  </div>
</div>